<p-card header="Platzierung">
    <p-table [value]="teams | slice:0:rankinkSize">
        <ng-template pTemplate="header">
            <tr>
                <th>Nr.</th>
                <th>Team-Name</th>
                <th>Becher getroffen</th>
                <th>Becher bekommen</th>
                <th>Differenz</th>
                <th>Punkte</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-teams let-i="rowIndex">
            <tr>
                <td>{{ i+1 }}</td>
                @if (i+1 === 1) {
                    <td>🥇 {{ teams.team_name }}</td>
                } @else if (i+1 === 2) {
                    <td>🥈 {{ teams.team_name }}</td>
                } @else if (i+1 === 3) {
                    <td>🥉 {{ teams.team_name }}</td>
                } @else {
                    <td>{{ teams.team_name }}</td>
                }
                <td>{{ teams.cups_hit }}</td>
                <td>{{ teams.cups_get }}</td>
                <td>{{ teams.cup_difference }}</td>
                <td>{{ teams.points }}</td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
        <ng-content></ng-content>
    </ng-template>
</p-card>
