<p-confirmdialog/>
@if (!showRanking) {
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Gruppen A-C</p-tab>
            @if (groups.length > 3) {
                <p-tab value="1">Gruppen D-F</p-tab>
            }
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <div class="flex">
                    @if (groups.length <= 3) {
                        @for (g of groups; track $index; let i = $index) {
                            <div class="flex flex-col flex-1 w-full">
                                @for (m of sortedMatches[i]; track $index) {
                                    <app-game-card [match]="m" class="w-full"></app-game-card>
                                }
                            </div>
                        }
                    } @else {
                        @for (g of groups.slice(0, 3); track $index; let i = $index) {
                            <div class="flex flex-col flex-1 w-full">
                                @for (m of sortedMatches[i]; track $index) {
                                    <app-game-card [match]="m" class="w-full"></app-game-card>
                                }
                            </div>
                        }
                    }
                </div>
            </p-tabpanel>
            @if (groups.length > 3) {
                <p-tabpanel value="1">
                    @for (g of groups.slice(3, groups.length); track $index; let i = $index) {
                        <div class="flex flex-col flex-1 w-full">
                            @for (m of sortedMatches[i+3]; track $index) {
                                <app-game-card [match]="m" class="w-full"></app-game-card>
                            }
                        </div>
                    }
                </p-tabpanel>
            }
        </p-tabpanels>
    </p-tabs>
    <div class="flex flex-row-reverse mt-5">
        <p-button (onClick)="updateRoundOfSixteen()" label="Gruppenphase abschliessen"></p-button>
    </div>
    @if (roundOfsixteen.length > 0) {
        <div>
            <p-fieldset legend="Achtelfinals">
                <div class="flex flex-wrap">
                    @for (m of roundOfsixteen; track $index) {
                        <div class="">
                            <app-game-card [match]="m" [showGroupName]="false"></app-game-card>
                        </div>
                    }
                </div>
            </p-fieldset>
        </div>
        <div class="flex flex-row-reverse mt-5">
            <p-button (onClick)="updateQuaterFinals()" label="Achtelfinals abschliessen"></p-button>
        </div>
    }
    @if (quaterFinalMatches.length > 0) {
        <div>
            <p-fieldset legend="Viertelfinals">
                <div class="flex flex-row">
                    @for (m of quaterFinalMatches; track $index) {
                        <div class="flex-1">
                            <app-game-card [match]="m" [showGroupName]="false"></app-game-card>
                        </div>
                    }
                </div>
            </p-fieldset>
        </div>
        <div class="flex flex-row-reverse mt-5">
            <p-button (onClick)="updateSemiFinals()" label="Viertelfinal abschliessen"></p-button>
        </div>
    }
    <div class="mt-5">
        <p-fieldset legend="Halbfinals">
            <div class="flex flex-row">
                @for (m of semiFinalMatches; track $index) {
                    <div class="flex-1">
                        <app-game-card [match]="m" [showGroupName]="false"></app-game-card>
                    </div>
                }
            </div>
        </p-fieldset>
    </div>
    <div class="flex flex-row-reverse mt-5">
        <p-button (onClick)="updateFinal()" label="Halbfinals abschliessen"></p-button>
    </div>
    @if (thirdPlaceMatch.length > 0) {
        <div class="mt-5">
            <p-fieldset legend="Spiel um Platz 3">
                <div class="flex flex-row justify-around">
                    @for (m of thirdPlaceMatch; track $index) {
                        <div class="w-1/2">
                            <app-game-card [match]="m" [showGroupName]="false"></app-game-card>
                        </div>
                    }
                </div>
            </p-fieldset>
        </div>
    }
    <div class="mt-5">
        <p-fieldset legend="Finale">
            <div class="flex flex-row justify-around">
                @for (m of finalMatches; track $index) {
                    <div class="w-1/2">
                        <app-game-card [match]="m" [showGroupName]="false"></app-game-card>
                    </div>
                }
            </div>
        </p-fieldset>
    </div>
    <div class="flex flex-row justify-between mt-5">
        <p-button severity="danger" (onClick)="confirmGameFinish($event)" label="Spiel sofort beenden"></p-button>
        <p-button (onClick)="setTournamentFinished()" label="Zur Tabelle"></p-button>
    </div>
}
@if (showRanking) {
    <div class="">
        <app-ranking [teams]="getRanking()" [rankinkSize]="getRanking().length">
            <div class="flex gap-3 mt-1">
                <p-button label="Zurueck" (onClick)="backToAdminSpace()"></p-button>
                <p-button label="Spiel beenden" (onClick)="confirmGameFinish($event)"></p-button>
            </div>
        </app-ranking>
    </div>
}
