<ng-container>
    <div class="flex flex-row mb-2 gap-1.5">
        <ng-container *ngIf="groups.length>1">
            <ng-container *ngFor="let g of groups">
                <div class="flex-1">
                    <app-group-card [group]="g"></app-group-card>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div class="max-h-screen overflow-y-auto">
        <div class="flex flex-row gap-1.5">
                <div class="flex flex-col flex-1">
                    <ng-container *ngFor="let m of regularMatches[0]">
                        <app-gameplan-card [match]="m"></app-gameplan-card>
                    </ng-container>
                </div>
                <div class="flex flex-col flex-1">
                    <ng-container *ngFor="let m of regularMatches[1]">
                        <app-gameplan-card [match]="m"></app-gameplan-card>
                    </ng-container>
                </div>
                <div class="flex flex-col flex-1">
                    <ng-container *ngFor="let m of regularMatches[2]">
                        <app-gameplan-card [match]="m"></app-gameplan-card>
                    </ng-container>
                </div>
                <div class="flex flex-col flex-1">
                    <ng-container *ngFor="let m of regularMatches[3]">
                        <app-gameplan-card [match]="m"></app-gameplan-card>
                    </ng-container>
                </div>
                <div class="flex flex-col flex-1">
                    <ng-container *ngFor="let m of regularMatches[4]">
                        <app-gameplan-card [match]="m"></app-gameplan-card>
                    </ng-container>
                </div>
                <div class="flex flex-col flex-1">
                    <ng-container *ngFor="let m of regularMatches[5]">
                        <app-gameplan-card [match]="m"></app-gameplan-card>
                    </ng-container>
                </div>
            </div>
            <div class="mt-5 gap-1.5">
                <p-fieldset legend="Achtelfinals">
                    <div class="flex flex-row gap-1.5">
                        <ng-container *ngFor="let m of roundOfSixteenMatches">
                            <div class="flex-1">
                                <app-gameplan-card [match]="m"></app-gameplan-card>
                            </div>
                        </ng-container>
                    </div>
                </p-fieldset>
            </div>
            <div class="mt-5 gap-1.5">
                <p-fieldset legend="Viertelfinals">
                    <div class="flex flex-row gap-1.5">
                        <ng-container *ngFor="let m of quarterFinalMatches">
                            <div class="flex-1">
                                <app-gameplan-card [match]="m"></app-gameplan-card>
                            </div>
                        </ng-container>
                    </div>
                </p-fieldset>
            </div>
            <div class="mt-5">
                <p-fieldset legend="Halbfinals">
                    <div class="flex flex-row gap-1.5">
                        <ng-container *ngFor="let m of semiFinalMatches">
                            <div class="flex-1">
                                <app-gameplan-card [match]="m"></app-gameplan-card>
                            </div>
                        </ng-container>
                    </div>
                </p-fieldset>
            </div>
            <div class="mt-5">
                <p-fieldset legend="Finale">
                    <div class="flex flex-row justify-around">
                        <ng-container *ngFor="let m of finalMatches">
                            <div class="w-1/2">
                                <app-gameplan-card [match]="m"></app-gameplan-card>
                            </div>
                        </ng-container>
                    </div>
                </p-fieldset>
            </div>
    </div>
</ng-container>
