<div class="flex flex-row gap-1.5">
    <div>
        <app-gameplan-card></app-gameplan-card>
    </div>
    <div>
        <app-gameplan-card></app-gameplan-card>
    </div>
    <div>
        <app-gameplan-card></app-gameplan-card>
    </div>
    <div>
        <app-gameplan-card></app-gameplan-card>
    </div>
    <div>
        <app-gameplan-card></app-gameplan-card>
    </div>
    <div>
        <app-gameplan-card></app-gameplan-card>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div>
        <app-group-card></app-group-card>
    </div>
</div>
