<div class="h-full">
    <div class="m-4">
        <p-card>
            <ng-template #title>
                <div class="flex flex-row justify-between items-center">
                    <p>Spielplan</p>
                    <div class="flex flex-row gap-2 items-center">
                        <p-button [pTooltip]="tooltipContent" icon="pi pi-table" (onClick)="toggleShowTableView()"/>
                        <ng-template #tooltipContent>
                            <div class="flex items-center">
                                <span> Tabellenansicht </span>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </ng-template>
        </p-card>
    </div>
    @if (!showTableView) {
        <div class="m-4 grid grid-cols-12"> 
            <div class="col-span-12">
                @if (!showRanking && !isLoading) {
                    @if (groups.length>1) {
                        <app-gameplan-s-gf-t [regularMatches]="regularMatches" [roundOfSixteenMatches]="roundOfsixteen" [quarterFinalMatches]="quaterFinals" [semiFinalMatches]="semiFinals" [semiFinalMatches]="semiFinals" [finalMatches]="final" [groups]="groups"></app-gameplan-s-gf-t>
                    } @else if (groups.length===1) {
                        <app-gameplan-o-gf-t [regularMatches]="regularMatches[0]" [finalMatches]="final" [groups]="groups"></app-gameplan-o-gf-t>
                    } @else {
                        <div class="flex flex-col items-center justify-center h-full">
                            <p>Es ist derzeit kein Spiel aktiv</p>
                        </div>
                    }
                }
                <!-- <ng-container *ngIf="showRanking">
                    <app-ranking [teams]="getBestEightTeams()"></app-ranking>
                </ng-container> -->
            </div>
        </div>
    } @else {
        <div class="m-4">
            <app-table-view [matches]="regularMatches[0]" [finalMatches]="final"></app-table-view>
        </div>
    }
</div>