<p-card header="Gruppe {{group?.group_name}}">
    <div class="flex flex-col justify-between">
        <div class="flex flex-row justify-between">
            <p>Name</p>
            <p>G</p>
            <p>B</p>
            <p>P</p>
        </div>
    </div>
    <div class="flex flex-col">
        <ng-container *ngFor="let t of group?.teams">
            <div class="flex flex-row justify-between">
                <p>{{t.team_name}}</p>
                <p>X</p>
                <p>X</p>
                <p>{{t.points}}</p>
            </div>
        </ng-container>
    </div>
</p-card>