<p-card header="Gruppe A">
    <div class="flex flex-row justify-between w-44">
        <div class="flex flex-row justify-between w-44">
            <div>Name</div>
            <div>G</div>
            <div>B</div>
            <div>P</div>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="flex flex-row justify-between">
            <p>Team 1</p>
            <p>25</p>
            <p>15</p>
            <p>10</p>
        </div>
        <div class="flex flex-row justify-between">
            <p>Team 2</p>
            <p>8</p>
        </div>
        <div class="flex flex-row justify-between">
            <p>Team 3</p>
            <p>8</p>
        </div>
        <div class="flex flex-row justify-between">
            <p>Team 4</p>
            <p>6</p>
        </div>
        <div class="flex flex-row justify-between">
            <p>Team 5</p>
            <p>5</p>
        </div>
    </div>
</p-card>
