<div class="w-80 m-1">
    <p-card subheader="Gruppe {{match?.group_number}}, Tisch 1">
        <ng-template pTemplate="content">
            <div>
                <div class="flex justify-between mb-1 max-h-7">
                    <p>{{match?.home_team}}</p>
                    <div class="flex flex-row-reverse">
                        <p-inputNumber [disabled]="locked" [inputStyle]="{'width': '50px'}">{{match?.points_home}}</p-inputNumber>
                    </div>
                </div>
                <div class="flex justify-between max-h-7">
                    <p>{{match?.away_team}}</p>
                    <p-inputNumber [disabled]="locked" [inputStyle]="{'width': '50px'}"></p-inputNumber>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="flex justify-between">
                <div class="content-center">
                    <p-chip label="Schiedsrichter" icon="pi pi-user"></p-chip>
                </div>
                <p-button [severity]="label" icon="pi pi-lock" (onClick)="setLocked()"/>
            </div>
        </ng-template>
    </p-card>
</div>