<div class="h-full">
    <ng-container *ngIf="isLoggedIn">
        <p-drawer [(visible)]="showDrawer" header="SKBeerpong">
            <div class="flex flex-col justify-between h-full">
                <ul>
                    <li>
                        <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                            <i class="pi pi-home mr-2"></i>
                            <span class="font-medium" routerLink="/home">Home</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                            <i class="pi pi-list mr-2"></i>
                            <span class="font-medium" routerLink="/gameplan">Spielplan</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                            <i class="pi pi-code mr-2"></i>
                            <span class="font-medium" routerLink="/adminspace">Adminspace</span>
                        </a>
                    </li>
                </ul>
                <div>
                    <hr />
                    <ul>
                        <li>
                            <div id="darkmodeBtn" class="flex flex-row gap-2 items-top m-4">
                                <p-toggleswitch [(ngModel)]="darkModeChecked" (onChange)="toggleDarkMode()"></p-toggleswitch>
                                <span>Darkmode</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </p-drawer>
        <p-menubar [model]="items">
            <ng-template #start>
                <p-button icon="pi pi-bars" (onClick)="toggleDrawer()"></p-button>
                <div class="ml-4 font-bold text-xl">
                    SKBeerpong
                </div>
            </ng-template>
            <ng-template pTemplate="end">
                <div class="flex align-items-center gap-2">
                    <p-avatar  [image]="avatarUrl" shape="circle" (click)="menu.toggle($event)" />
                    <p-tieredMenu #menu [model]="tieredItems" [popup]="true"></p-tieredMenu>
                </div>
            </ng-template>
        </p-menubar>
    </ng-container>
    <div class="h-[calc(100%-100px)]">
        <router-outlet></router-outlet>
    </div>
</div>


<!-- <ng-template #landingPage>
    <app-landing-page></app-landing-page>
</ng-template> -->
