<p-toast></p-toast>
<div class="m-8 grid grid-cols-12 h-full"> 
    <div class="col-span-12 mb-4 h-full">
        @if (isLoading) {
            <div class="flex h-full justify-center">
                <div class="flex flex-col justify-center items-center gap-4">
                    <p-progressSpinner styleClass="w-2rem h-2rem" strokeWidth="4" animationDuration="1s"></p-progressSpinner>
                    <p>Lade Daten...</p>
                </div>
            </div>
        } @else {
            @if (matches && matches.length > 0) {
                <app-mode-s-gf-t [groups]="groups" [showRanking]="this.showRanking" [gameId]="gameId" [gameMode]="gameMode" [sortedMatches]="sortedMatches" [roundOfsixteen]="roundOfsixteen" [quaterFinalMatches]="quaterFinalMatches" [semiFinalMatches]="semiFinalMatches" [thirdPlaceMatch]="thirdPlaceMatch" [finalMatches]="finalMatch"></app-mode-s-gf-t>
            } @else if (matches.length === 0 && !showRanking) {
                <app-beerpong-setup></app-beerpong-setup>
            }
        }
    </div>
</div>